.social-media-account{
    display: flex;
    align-items: center;
    padding: 0em 0.2em;
}
.social-media-account h2{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;
    gap: 0.4em;
}
.social-media-account h2 a{
    color: #4b69ff;
}
.telegram-account{
    color: #3557ff;
    background-color: #375fff3e;
    padding: 0.4em;
    border-radius: 5px;
}
.tradingNav{
    margin-top: -1.3em;
    height: 4em;
}
.tradingnav{
    width: fit-content;
}
.account-settings{
    margin-left: 4.2em;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.account-settings h1{
    font-size: 1rem;
    margin-bottom: 0.6em;
}
.account-settings .form-info{
    border-bottom: 1px dotted #a2a5ad;
    padding-right: 1em;
    width: 100%;
    display: flex;
}
.account-settings form .inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.account-settings form .account-image{
    display: flex;
}
.account-image, .account-image div {
    gap: 1em;
}
.account-image div input{
    border-radius: 50px;
}
.account-image div{
    gap: 0.4em;
    display: flex;
    flex-direction: column;
}
.account-image h2{
    font-size: 0.9rem;
}
.account-image p{
    font-size: 0.9rem;
    color: #a2a5ad;
}
.account-settings form .account-img{
    position: relative;
    width: 5em;
    height: 5em;
}
 .account-image .icon-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0.7em;
    border-radius: 50px;
    color: #5e616c;
    background-color: #212634;
    width: 0.5em;
    height: 0.5em;
    top: -4px;
    right: -4px;
    transition: .2s ease;
    cursor: pointer;
}
.account-image .icon-img p:hover{
    color: #016dd38e;
}
.account-settings form .account-image .icon-img p{
    font-size: 1.1rem;
    position: absolute;
    cursor: pointer;
}

.account-settings form .account-image .icon-img input{
    opacity: 0;
    width: 0.5em;
    height: 0.5em;
}
.account-image .account-img{
    width: 7em;
    height: 7em;
    display: flex;
    z-index: 0;
}
.account-image .account-img img{
    height: 5em;
    width: 5em;
    border-radius: 50px;
}
.account-settings{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    gap: 3em;
    width: 100%;
}
.account-settings label{
    background-color: transparent;
}
.account-settings form label{
    font-size: 0.8rem;
}
.account-settings form .inputs-cover{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1em 0em;
    align-items: center;
    justify-content: center;
}
.account-settings form button{
    background-color: #016fd3;
    width: 28%;
    margin-bottom: 1.3em;
    margin-top: 0.8em;
    height: 3em;
}
.account-settings input{
    color: #fff;
    padding: 0.2em 0.9em;
    width: 100%;
    border-radius: 5px;
    height: 3em;
    border: 1px solid #434753;
    background-color: transparent;
    outline: none;
    transition: .2s ease;
}
.account-settings input:focus,.account-settings input:hover{
    border: 1px solid #fff;
    color: #fff;
}

.account-options-cover{
    background-color: #2b3040;
    border-radius: 5px;
    height: 3.3em;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}
.account-options{
    width: 100%;
    gap: 1.4em;
    overflow: auto;
}
.account-options,.account-options a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0em 1em;
}
.account-options a{
    display: flex;
    width: fit-content;
    font-size: 0.75rem;
    font-weight: 600;
    height: 2.4em;
    transition: .2s ease;
}
.account-options a:hover{
    background-color: rgba(255, 255, 255, 0.067);
}
.account-options .active{
    background-color: rgba(255, 255, 255, 0.067);
    font-weight: 600;
    color: #fff;
}
.account-user-info .status{
    padding: 5px;
    border-radius: 5px;
}
.account-user-info .Pending, .account-user-info .pending{
    color: goldenrod;
    background-color: rgba(255, 255, 0, 0.19);
}
.account-user-info .verified, .account-user-info .Verified{
    color: rgb(2, 211, 2);
    background-color: rgba(0, 128, 0, 0.133);
}
.verification-id{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 0.5em;
    width: 26em;
    margin-top: 1em;
}
.v-img-label{
    width: 70%;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
.verification-img{
    width: 80%;
    border: 1px solid blue;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #0c5ff932;
    cursor: pointer;
}
.v-img-input{
    display: none;
}
.verification-img img{
    height: 9em;
}
.verification-id h1{
    margin-top: 0.5em;
}
.verification-id p{
    color: gray;
    font-weight: 300;
    font-size: 0.8rem;
}
.verification-img span{
    font-size: 2rem;
    color: blue;
}
.delete-account{
    cursor: pointer;
    color: #ff2323;
    background-color: transparent;
    width: 10em;
    height: 3em;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-top: -2em;
    margin-bottom: 2em;
}
.confirm-delete-account{
    top: 0;
    left: 0;
    padding: 1em;
    border-radius: 5px;
    margin-top: 2em;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    gap: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.confirm-delete-account p{
    font-weight: 800;
    font-size: 0.8rem;
}
.buttons-confirm{
    display: flex;
    align-items: center;
}
.buttons-confirm button{
    width: 5em;
    border-radius: 3px;
    height: 2em;
    margin-right: 0.5em;
    background-color: transparent;
    font-weight: 800;
    font-size: 0.9rem;
}
.yes-delete{
    border: 1px solid rgba(255, 0, 0, 0.767);
    color: red;
}
.no-delete{
    border: 1px solid rgba(0, 72, 255, 0.797);
    color: rgb(0, 30, 255);
}

@media only screen and (max-width: 1200px){
    .account-settings form button{
        width: 100%;
    }
}
@media only screen and (max-width: 900px){
    .account-settings{
        width: 82%;
    }
    .account-settings form .inputs{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .account-settings form button{
        width: 100%;
    }
    .account-settings .form-info{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width:650px){
    .verification-id{
        width: 100%;
    }
    .v-img-label{
        width: 100%;
        height: 10em;
    }
    .account-settings form .inputs-cover{
        gap: 1em;
    }
    .account-settings form .inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .account-settings form .inputs input{
        width: 90%;
    }
    .account-settings{
        margin-top: -4em;
    }
    .account-user-info h2{
        font-size: 0.9rem;
    }
    .account-user-info p{
        font-size: 0.8rem;
    }
    .account-settings form .account-img{
        position: relative;
        width: 4.4em;
        height: 4.4em;
    }
    .account-image .account-img img{
        height: 4em;
        width: 4em;
    }
    .account-options-cover{
        display: none;
    }
    .account-settings form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }
    .card button{
        padding: 1.3em 1em;
        margin-bottom: 0.4em;
        background-color: #016fd3;
    }
    .social-media-account{
        padding: 0em 0.1em;
    }
    .social-media-account h2{
        font-size: 0.7rem;
        gap: 0.3em;
    }
    .social-media-account h2 a{
        padding: 0.5em;
    }
}
@media only screen and (max-width:550px){
    .account-settings{
        margin-left: 0em;
    }
}