
.tradingNav{
    height: 4em;
}
.tradingnav-deposit{
    display: flex;
    width: 100%;
    margin-top: -1em;
}
.deposit-body-wrapper{
    width: 100%;
    padding: 1em;
    padding-bottom: 3.5em;
    margin-left: 4em;
}
.payment-methods-wrapper{
    display: flex;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    width: 95%;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 7px;
}
.payment-methods {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.payment-methods h1{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 2em;
}
.payment-methods .methods{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 1em;
    padding: 1em;
    margin-bottom: 2em;
    border-bottom: 1px dotted rgb(162, 162, 162);
}
.payment-methods .methods h1{
    font-size: 1.2rem;
}
.payment-methods-card{
    height: 2em;
    width: 300px;
    align-items: center;
    justify-content: left;
    display: flex;
    background-color: #fff;
    padding: 1em;
    border-radius: 7px;
    color: #000;
    gap: 0.5em;
    transition: .12s ease;
    cursor: pointer;
}
.payment-methods-card:hover{
    background-color: #3f4358;
    color: #fff;
}
.payment-methods-card img{
    height: 1.9em;
}

@media only screen and (max-width:1050px){
    .payment-methods-wrapper{
        width: 80%;
    }
}
@media only screen and (max-width:580px){
    .deposit-body-wrapper{
        width: 90%;
        margin-left: 0em;
    }
    .tradingnav-deposit{
        display: flex;
        flex-direction: column;
    }
    .payment-methods-wrapper{
        display: flex;
        width: 90%;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 7px;
    }
    .payment-methods{
        margin-top: -3.5em;
    }
    .payment-methods .methods{
        display: flex;
        flex-direction: column;
    }
    .payment-methods-wrapper{
        padding: 1em;
    }
    .payment-methods-card{
        height: 1.2em;
        width: 90%;
    }
}
