.toast-message-deposit{
    background-color: rgb(23, 255, 23);
    box-shadow: 1px 0px 77px -2px rgba(254, 255, 254, 0.202);
    -webkit-box-shadow: 1px 0px 77px -2px rgba(200, 248, 200, 0.324);
    -moz-box-shadow: 1px 0px 77px -2px rgba(154, 243, 154, 0.303);
    color: #fff;
}
#status{
    opacity: 0;
    position: absolute;
}
.deposit-description{
    font-size: 0.88rem;
    font-weight: 500;
    color: rgb(41, 42, 44);
}
.depositmenu-body-cover{
    padding: 1em;
    padding-bottom: 3.4em;
}
.deposit-menu-body{
    display: flex;
}
.deposit-menu-card{
    background-color: #fff;
    border-radius: 10px;
    max-width: 21em;
    color: black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;
}
.deposit-menu-card h5{
    display: flex;
    flex-direction: column;
    color: rgb(71, 71, 71);
    font-weight: 400;
}
.deposit-menu-card h5 img{
    height: 7em;
}
.deposit-menu-card h4{
    display: flex;
    font-weight: 400;
    align-items: center;
    gap: 0.2em;
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
}
.deposit-menu-card h4 .copy-icon{
    padding: 0.5em;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.136);
    border-radius: 50px;
    cursor: pointer;
}
.deposit-menu-card h6{
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
    text-transform: capitalize;
}
.deposit-menu-card h4 span,.deposit-menu-card h6 span{
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
}
.deposit-menu-card-options form p{
    font-size: 0.86rem;
}
.deposit-menu-card p{
    color: gray;
}
.deposit-menu-card p span{
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.deposit-menu-card-options{
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex: 5;
}
.warning{
    padding: 1em;
    border: 2px solid rgb(255, 140, 0);
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.121);
    display: flex;
    font-size: 0.8rem;
    margin: 1em 0em;
}
.warning .alert-icon{
    background-color: rgb(255, 140, 0);
    padding: 0.4em;
    border-radius: 50px;
    margin-right: 0.7em;
}
.deposit-menu-card-options form{
    display: flex;
    flex-direction: column;
}
.deposit-menu-card-options label{
    background-color: transparent;
}
.deposit-menu-card-options input{
    border: 1px solid gray;
    color: #fff;
    background-color: transparent;
    outline: none;
    width: 23em;
    height: 3.5em;
    padding: 0em 1em;
    border-radius: 5px;
    margin-bottom: 1.1em;
}
.deposit-menu-card-options button{
    background-color: #016fd3;
    display: flex;
    align-items: center;
    width: 10em;
    height: 2.7em;
    gap: 0.4em;
}
.deposit-menu-card-options button:hover{
    background-color: #3383ce;
    -webkit-box-shadow: 2px 4px 12px -1px rgba(255, 255, 255, 0.179);
    -moz-box-shadow: 2px 4px 12px -1px rgba(255, 255, 255, 0.179);
    box-shadow: 2px 4px 12px -1px rgba(255, 255, 255, 0.179);
}
.deposit-menu-card-options input:hover,.deposit-menu-card-options input:focus{
    border: 1px solid rgb(255, 255, 255);
}
.deposit-menu-card img{
    height: 2em;
}
.deposit-menu-card div{
    display: flex;
    align-items: center;
}
.deposit-menu-body-wrapper{
    width: 100%;
    display: flex;
    background-color: #252936;
    border-radius: 7px;
    flex-direction: column;
    padding: 1em;
}
.deposit-menu-card-wrapper{
    display: flex;
    margin-bottom: 1em;
}
.deposit-menu-card-wrapper .left-wrapper{
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 2em;
    border-right: 1px dotted gray;
}
.deposit-menu-card-wrapper h1{
    font-size: 1rem;
    margin: 1.5em 0em;
}
.deposit-menu-card-wrapper a{
    color: #0a78df;
    display: flex;
    align-items: center;
    margin: 1em 0em;
    gap: 0.3em;
    transition: .2s ease;
}
.deposit-menu-card-wrapper a:hover{
    color: #6bb4f8;
}
.deposit-menu-card-wrapper a span{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.deposit-footer{
    display: flex;
    background-color: #2c3645;
    padding: 1em 0em;
    border-radius: 5px;
}
.deposit-footer .amounts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.4em;
    padding: 0em 1em;
    border-right: 1px solid rgba(128, 128, 128, 0.658);
}
.deposit-footer .amounts p{
    font-size: 0.9rem;
    gap: 0.3rem;
    display: flex;
    align-items: center;
    flex: 3;
}
.deposit-footer .amounts span{
    color: #10a959;
}
.deposit-footer .verifiers{
    width: 100%;
    padding: 0em 1em;
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deposit-footer .verifiers img{
    height: 3em;
}

@media only screen and (max-width:1050px){
    .tradingNav{
        height: 3.33em;
    }
}
@media only screen and (max-width:900px){
    .deposit-menu-body-wrapper{
        width: 90%;
    }
    .deposit-footer{
        display: flex;
        flex-direction: column;
    }
    .deposit-footer .verifiers{
        flex-direction: column;
        gap: 1em;
    }
    .deposit-footer .amounts{
        border-right: none;
    }
    .deposit-footer .verifiers img{
        height: 2.5em;
        margin: 0.3em 0em;
    }
}
@media only screen and (max-width:600px){
    .deposit-menu-card-wrapper{
        display: flex;
        flex-direction: column;
    }
    .deposit-menu-card-wrapper .left-wrapper{
        padding: 1em;
        border-right: none;
        border-bottom: 1px dotted gray;
    }
    .deposit-menu-card-options{
        padding: 1em;
    }
    .warning{
        padding: 0.7em;
        width: 100%;
        font-size: 0.7rem;
    }
    .warning .alert-icon{
        background-color: rgb(255, 140, 0);
        padding: 0.4em;
        border-radius: 50px;
        margin-right: 0.7em;
    }
    .deposit-menu-card-options form{
        display: flex;
        flex-direction: column;
    }
    .deposit-menu-card-options label{
        background-color: transparent;
    }
    .deposit-menu-card-options input{
        width: 79%;
    }
    .deposit-footer .amounts p{
        font-size: 0.8rem;
    }
}