@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

.language-select h4 , .reslanguage-select h4{
    font-weight: 300;
    font-size: 0.4;
    color: rgba(255, 255, 255, 0.358);
}
.nav-container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 55%;
    align-items: center;
    padding: 0px 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.052);
    border-radius: 20px;
    margin-top: 10px;
}
.active{
    color: #2d96f0;
    font-weight: 900;
    text-shadow: 0px 0px 2px #bbd5ff39;
}
a{
    text-decoration: none;
    color: #fff;
}
button{
    outline: none;
    border: none;
    color: white;
    height: 45px;
    border-radius: 15px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navlinks{
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 410;
    gap: 50px;
}
.nav-left a:hover{
    color: #2d96f0;
    font-weight: 900;
}
.logo{
    left: 0;
    cursor: pointer;
    width: 2.2em;
    height: 1.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d96f0;
    background-image: url('../images/logoL.PNG');
    background-position: center;
    background-size: contain;
    font-weight: 900;
    font-size: 1.5rem;
    background-position: center;
    background-size: cover;
}
.nav-right{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.language{
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 1.07rem;cursor: pointer;
    height: 45px;
    width: 55px;
    border-radius: 7px;
}
.language img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}
.language-select{
    justify-content: center;
    gap: 0em 1.4em;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: #494f65;
    width: 270px;
    border-radius: 7px;
    color: #fff;
    margin-top: 9px;
    padding: 5px;
    z-index: 100;
}
.language-select div{
    cursor: pointer;
    display: flex;
    font-weight: 500;
    padding-left: 20px;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    color: #fff;
}
.language-select div:hover{
    background-color: #363b4cd8;
}

.login-btn{
    background-color: #1c1f2d00;
    border: 1px solid #2d96f0;
    color: #2d96f0;
    width: 90px;
}
.signup-btn{
    background-color: #2d96f0;
    width: 100px;
    box-shadow: 1px 1px 9px #68eaa549;
}
.signup-btn:hover{
    background-color: #63aff3;
}
.menu{
    display: none;
}
.responsive-menu{
    position: relative;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 550px;
    position: absolute;
    height: 30em;
    border-radius: 30px;
    background-color: #ffffff10;
    backdrop-filter: blur(50px);
    color: #fff;
    justify-content: center;
    z-index: 1;
    transition: 0.3s ease;
}
.responsive-menu-hide{
    width: 0%;
    transition: 0.3s ease;
}
.responsive-menu a{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.9rem;
}
.responsive-menu-hide .res-links{
    display: none;
}
.res-links{
    padding: 2em 1.7em;
    width:42em;
    height: 21em;
}
.res-links a{
    margin: 0px 0px 42px 0px;
    justify-content: space-between;
    width: 100%;
}
.res-links a:hover{
    font-size: 1rem;
}
.responsive-menu p{
    font-size: 0.77rem;
    color: #52545f;
}

@media only screen and (max-width:1200px){
    .navbar{
        padding: 0px 150px;
    }
}
@media only screen and (max-width:1050px){
    .navbar{
        width: 61%;
        padding: 0px 30px;
    }
}
@media only screen and (max-width:900px){
    .navbar{
        padding: 0px 15px;
        height: 78px;
    }
    .language{
        display: none;
    }
    .navlinks{
        display: none;
    }
    .login-btn{
        font-size: 0.75rem;
        height: 42px;
        width: 63px;
    }
    .signup-btn{
        font-size: 0.75rem;
        height: 42px;
        width: 71px;
    }
    .menu{
        display: block;
    }
}
    @media only screen and (max-width:770px){
        .navbar{
            height: 90px;
        }
        .logo{
            width: 2.2em;
            height: 1.9em;
            background-position: left;
            background-size: cover;
        }
        .login-btn{
            font-size: 1rem;
            height: 55px;
            width: 91px;
        }
        .signup-btn{
            font-size: 1rem;
            height: 55px;
            width: 102px;
    }
}
@media only screen and (max-width:500px){
    .navbar{
        height: 55px;
        width: 70%;
        padding: 0px 5px;
    }
        .responsive-menu{
            width: 80%;
            margin-top: 540px;
        }
        .login-btn{
            font-size: 0.78rem;
            height: 38px;
            width: 55px;
        }
        .signup-btn{
            display: none;
        }
}

