.signup{
    background-image: url(../images/pngwing.com\ \(9\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup h1{
    margin: 1em 0em;
    font-weight: 900;
    font-size: 2.5em;
}
.signup .signup-box{
    background-color: #444b5d;
    width: 500px;
    border-radius: 7px;
    margin-bottom: 10em;
}
.signup-box,.account-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.account-buttons{
    flex-direction: row;
    width: 230px;
    height: 50px;
    background-color: #575d6e;
    border-radius: 5px;
    gap: 1em;
    margin: 1.5em 0em;
}
.account-buttons button{
    background-color: #575d6e;
    font-size: 0.9rem;
    font-weight: 900;
    height: 38px;
    border-radius: 5px;
    padding: 0em 1.4em;
}
.signup-box .account-buttons .registration{
    background-color: #353a4d;
}
.signup-form{
    /* gap: 0.8em; */
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
    border-bottom: 1px solid #7f859d;
}
.signup-form input{
    height: 50px;
    background-color: transparent;
    border: 1px solid #575d6e;
    font-size: 0.99rem;
    border-radius: 7px;
    width: 365px;
    outline: none;
    color: #fff;
    padding: 0em 0.8em;
    margin-bottom: 1em;
}
label{
    margin-left: 14px;
    background-color: transparent;
    width: fit-content;
    font-weight: 440;
    color: #747a86;
    font-size: 0.89rem;
}
.signup-form select{
    height: 50px;
    background-color: transparent;
    border: 1px solid #575d6e;
    font-size: 0.9rem;
    border-radius: 7px;
    width: 393px;
    outline: none;
    color: #7d839b;
    padding: 0em 0.8em;
    margin-bottom: 1em;
}
.check{
    display: flex;
    margin: 0.8em 0em;
    text-align: left;
    align-items: center;
    margin-bottom: 1em;
}
.check label{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 16px;
    font-weight: 570;
    font-size: 0.89rem;
}
.check label a{
    color: #2d94f2;
}
#checkbox{
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    -webkit-appearance: none;
    width: 1.4em;
    height: 1.7em;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkbox::after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 0.8rem;
    color: #2d94f2;
    display: none;
}
#checkbox:checked{
    background-color: #fff;
}
#checkbox:checked:after{
    display: block;
}
.registration-btn{
    width: 393px;
    height: 60px;
    font-size: 1rem;
    gap: 0.9em;
    border-radius: 5px;
    background-color: #4a8ded;
}
.registration-btn:hover{
    background-color: #257af0;
}
.registration-btn p{
    background-color: rgba(255, 255, 255, 0.368);
}
.signin-media{
    display: flex;
    gap: 1.5em;
    margin: 2em 0em;
}
.signin-bottom h4{
    margin-top: -15px;
    background-color: #444b5d;
    padding: 0.28em 0.8em;
    color: #7f859d;
    font-weight: 400;
}
.signin-bottom h2{
    border-radius: 7px;
    padding: 0.3em 1em;
    cursor: pointer;
}
.signup-fb{
    background-color: #4064ad;
}
.signup-fb:hover{
    background-color: #4e70b4;
}
.signup-gg{
    border: 0.8px solid #757d93;
}
.signup-gg:hover{
    border: none;
}

@media only screen and (max-width:550px){
    .signup h1{
        font-size: 1.5em;
    }
    .signup .signup-box{
        margin-bottom: 2em;
    }
    .signup .signup-box{
        width: auto;
        padding: 1em;
    }
    .signup-form input{
        width: 90%;
    }
    .signup-form select{
        width: 98%;
    }
    .registration-btn{
        width: 100%;
        gap: 0.5em;
    }
    .check label{
        font-size: 0.74rem;
    }
    .signup-media{
        gap: 1em;
    }
}