.transactions-wrapper{
    width: 100%;
}
.padding{
    padding: 2em;
}
.transactions-body-wrapper{
    width: 100%;
    display: flex;
}
.transactions-body{
    width: 100%;
    margin-left: 4em;
}
.trades-side-nav{
    padding-top: 0.3em;
}
.trades-side-nav-dw{
    padding-top: 0.8em;
}
/* trades */
.trades-wrapper{
    width: 100%;
}
.trades-tpn{
    height: 4.5em;
}
.trades-body-wrapper{
    display: flex;
}
.trades-body{
    width: 100%;    
    margin-left: 4em;
}
@media only screen and (max-width:650px){
    .transactions-body-container, .trades-body-container{
        margin-top: -3em;
    }
}
@media only screen and (max-width:550px){
    .transactions-body{
        margin-left: 0em;
    }

    .trades-body{
        margin-left: 0em;
    }
}
