.transactions-wrapper{
    width: 100%;
}
.padding{
    padding: 2em;
}
.transactions-body-wrapper{
    width: 100%;
    display: flex;
}
.transactions-body{
    width: 100%;
    margin-left: 4em;
}

/* trades */
.trades-wrapper{
    width: 100%;
}
.trades-tpn{
    height: 4.5em;
}
.trades-body-wrapper{
    display: flex;
}
.trades-body{
    width: 100%;    
    margin-left: 4em;
}
@media only screen and (max-width:550px){
    .transactions-body{
        margin-left: 0em;
    }

    .trades-body{
        margin-left: 0em;
    }
}
