.light{
    background-color: rgb(255, 255, 255);
}
.light .innovative-right h2, .light .steps h1, .light .faq h1{
    color: rgb(0, 0, 0);
}
.light .innovative-right p{
    color: rgb(84, 86, 91);
}
.light .open-demo-btn {
    border: 1px solid black;
}
.light input::placeholder, .light input,.light .links-cover h4,.light .settings h5,.light .settings p,.light .support .dark,.light .support .language select, .light .admin-table,.light .tableCell,.light .deposit-loading, .light .admin-table h1{
    color: black;
}
.light .trading-navbar , .light .trading-topnav,.light .account-options-cover, .light .mb-trading-nav, .light .info-icons .button,.light .infos, .light .steps button, .light .faq .show, .light .faq .questions-cover, .light .faq .all-questions,.light .social-media h6{
    background-color: rgb(167, 153, 177);
}
.light .social-media h6, .light .web-text,.inputs-trade-wrapper label{
    color: white;
}
.light .gray-icons{
    display: none;
}
.light .steps button ,.light .faq .all-questions,.light .trade-under-text,.light .trade-btns-cover-wrapper a{
    color: blue;
}
.light .nav-left a, .light .bottom h1, .light .account-user-info h1,.light .account-user-info h2,.light .account-user-info p, .light .inputs-cover .input, .light .inputs-cover .input input{
    color: black;
}
.light .bottom .buttons .demo{
    border: 1px solid black;
}
.light .language-container{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 0, 0, 0.361);
}
.light .reslanguage-container, .light .responsive-menu, .light .place-trades,.light .time-history,.light .trade-under-text,.light .inputs-trade-wrapper label{
    background-color: rgb(153, 154, 177);
}
.light .menu{
    background-color: rgb(153, 154, 177);
    border-radius: 50px;
}
