.admin-side-nav-menu{
    position: absolute;
    margin-left: 13em;
    margin-top: 0.4em;
    background-color: transparent;
    padding: 0em;
    top: 0;
}

.admin-side-not-visible{
    width: 0em;
}

.adminSideNav{
    min-height: 92.8vh;
    background-color: #444b5d;
    padding: 1.5em;
    border-radius: 0px 7px 7px 0px;
    flex: 1;
    width: 11em;
    position: fixed;
    z-index: 50;
}
hr{
    height: 0;
    border: 0.5px solid rgba(255, 255, 255, 0.275);
    margin: 1.2em 0em;
}
.adminSideNav h5{
    color: #8d8f94;
    font-size: 0.7rem;
    margin: 1em 0em;
}
.adminSideNav .links{
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}
.adminSideNav .links .active{
    background-color: rgba(255, 255, 255, 0.102);
    color: #ffff;
    font-weight: 500;
}
.adminSideNav .links a, .nav-div-user{
    padding: 0em 0.3em;
    font-size: 0.8rem;
    display: flex;
    height: 3em;
    align-items: center;
    border-radius: 7px;
    gap: 0.7em;
    padding-left: 0.8em;
    transition: .2s ease;
}
.nav-div-user{
    margin-bottom: -1em;
}
.nav-div-user p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.user-admin-side{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .open {
    max-height: 200px; 
  }
.adminSideNav .links a:hover, .nav-div-user:hover{
    cursor: pointer;
    color: #ffff;
    background-color: rgba(255, 255, 255, 0.102);
}
.adminSideNav .links a p:hover, .nav-div-user p:hover{
    color: #ffff;
}
.themes{
    display: flex;
    gap: 1em;
}
.themes div{
    width: 20px;
    height: 20px;
    border-radius: 7px;
    cursor: pointer;
}
.themes .dark{
    background-color: #212329;
}
.themes .light{
    background-color: #ffff;
}