.single{
    display: flex;
}
.single-sidebar{
    flex: 2;
}
.single-container{
    flex: 8.1;
}
.single-container .single-content{
    padding: 1em;
}
.single-container .single-content .item{
    display: flex;
}
.admin-users-left{
    border-right: 1px dotted rgba(255, 255, 255, 0.176);
    padding-right: 1em;
    flex: 5;
}
.admin-users-right{
    padding: 1em;
    gap: 0.3em;
    flex: 5;
    display: flex;
    flex-direction: column;
}
.admin-users-right p{
    font-size: 0.8rem;
    color: #989dab;
}
.admin-users-right p span{
    color: #fff;
}
.single-container .single-content form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8em;
}
.verification-img-admin{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14em;
}
.verification-img-admin h3{
    font-size: 1rem;
    color: #2f3033;
}
.verification-img-admin img{
    height: 13em;
}
.single-container .single-content .left a{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: rgb(0, 110, 255);
    font-weight: 550;
    margin-left: -0.7em;
    margin-bottom: 1em;
}
.single-container .single-content .left a .icon{
    padding: 0.2rem;
    background-color: rgb(0, 110, 255);
    color: #fff;
    border-radius: 50px;
    margin-right: 0.2rem;
}
.single-top{
    -webkit-box-shadow: 3px 4px 18px -6px rgba(0,0,0,0.87);
    -moz-box-shadow: 3px 4px 18px -6px rgba(0,0,0,0.87);
    box-shadow: 3px 4px 18px -6px rgba(0,0,0,0.87);
    border-radius: 7px;
    background-color: #444b5d;
    padding: 1em;
}
.single-top h1{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.643);
    margin-bottom: 1em;
}
.single-inputs{
    margin: 0em 1em;
    width: 80%;
}
.single-inputs p{
    font-weight: 300;
    color: #abaeb5;
    font-size: 0.9rem;
}
.single-container form input{
    color: #fff;
    display: flex;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    border: 1px solid white;
    padding: 0.8em;
    border-radius: 7px;
    background-color: transparent;
    outline: none;
}
.single-top button{
    width: 10em;
    height: 3em;
    color: #fff;
    background-color: rgb(0, 213, 0);
}
