.wrapper-method{
    width: 40em;
}
.delete-btn-method{
    height: 2em;
    background-color: red;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0em 0.5em;
    height: 3.5em;
}
.admin-deposit-card-wrapper{
    display: flex;
    align-items: center;
    gap: 0.4em;
}
.delete-btn-method:hover{
    background-color: rgb(246, 67, 67);
}
.users-search-input{
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid white;
    color: #fff;
    padding: 1em 0.5em;
    outline: none;
}
.admin-deposit-card{
    background-color: #51596c;
    color: #fff;
    /* width: 50em; */
}
.table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-cell-div{
    display: flex;
    flex-direction: column;
}
.trade-ends-span{
    font-size: 0.8rem;
    font-weight: 600;
}
.deposit-loading{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.6em 0.9em;
}
.admin-table .tableCell{
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 350;
    color: #fff;
}
.admin-table button{
    background-color: #51596c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    width: 100%;
}
.admin-table button img{
    height: 35px;
}
.admin-table .status{
    padding: 5px;
    border-radius: 5px;
}
.admin-table .Lost{
    color: rgb(218, 32, 32);
    font-weight: 800;
    font-size: 0.8rem;
}
.admin-table .Pending, .admin-table .pending{
    color: goldenrod;
    font-weight: 800;
    font-size: 0.8rem;
}
.admin-table .Approved,.admin-table .approved, .admin-table .Sent, .admin-table .sent, .admin-table .verified, .admin-table .Verified, .admin-table .Won{
    color: rgb(2, 211, 2);
    font-weight: 800;
    font-size: 0.8rem;
}
.Page{
    width: 100%;
    background-color: #51596c;
}
.pagination, .page-item{
    display: flex;
}
.page-item button{
    font-size: 0.9em;
    border: 1px solid white;
    border-radius: 3px;
    width: 35px;
    height: 28px;
}
.admin-deposit-card{
    display: flex;
    align-items: center;
    padding: 1em;
    margin-bottom: 0.6em;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 500;
    gap: 0.4em;
}
.admin-deposit-card img{
    height: 2em;
}
@media only screen and (max-width:750px){
    .admin-table{
        font-size: 0.8rem;
    }
    .admin-table .tableCell{
        font-size: 0.7rem;
        width: 1em;
    }
}