@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
iframe#webpack-dev-server-client-overlay{display:none!important}
html{
    size: 100%;
}
*{
    padding: 0;
    margin: 0;
}
html, body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #1c1f2d; */
    scroll-behavior: smooth;
    color: #ffff;
    overflow: auto;
    height: 100vh;
}
.app{
    background-color: #1c1f2d;
    height: 100vh;
    overflow: auto;
    transition: .2s ease;
}
button,input,a{
    transition: .2s ease-in-out;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.toast-message-withdrawal{
    background-color: rgb(23, 255, 23);
    box-shadow: 1px 0px 77px -2px rgba(254, 255, 254, 0.202);
    -webkit-box-shadow: 1px 0px 77px -2px rgba(200, 248, 200, 0.324);
    -moz-box-shadow: 1px 0px 77px -2px rgba(154, 243, 154, 0.303);
    color: #fff;
}
.toast-message-deposit{
    background-color: rgb(23, 255, 23);
    box-shadow: 1px 0px 77px -2px rgba(254, 255, 254, 0.202);
    -webkit-box-shadow: 1px 0px 77px -2px rgba(200, 248, 200, 0.324);
    -moz-box-shadow: 1px 0px 77px -2px rgba(154, 243, 154, 0.303);
    color: #fff;
}
.toast-message-login{
    background-color: rgb(23, 166, 255);
    box-shadow: 1px 0px 77px -2px rgba(254, 255, 255, 0.202);
    -webkit-box-shadow: 1px 0px 77px -2px rgba(200, 224, 248, 0.324);
    -moz-box-shadow: 1px 0px 77px -2px rgba(154, 197, 243, 0.303);
    color: #fff;
}
.toast-message-signup{
    background-color: rgb(30, 142, 255);
    box-shadow: 1px 0px 77px -2px rgba(254, 254, 255, 0.202);
    -webkit-box-shadow: 1px 0px 77px -2px rgba(200, 217, 248, 0.324);
    -moz-box-shadow: 1px 0px 77px -2px rgba(154, 200, 243, 0.303);
    color: #fff;
}
.themes{
    background-color: #35b972;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem;
}
